body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }

  
  @media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    /* Estilos para pantallas medianas */
  }
  
  @media (min-width: 992px) {
    /* Estilos para pantallas grandes */
  }
    